@use "variables";

body {
  background-color: variables.$bg;
  color: var(--text);
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  margin: 10px;
  padding: 10px;
  font-size: 26px;
  color: #fff;
  border-color: #fff;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

// ul {
//   list-style-image: url("../images/Image-File-icon.png");
// }